<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Twitter v192.2.0
                    </h1>
                    <br>
                    <h2 class="subtitle">Hashtags:</h2>
                </div>
            </div>
        </div>
    </section>
</body>